body {
  font-family: "Yantramanav", sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
footer {
  text-align: center;
  color: black;
  font-size: 12px;
  font-weight: 800;
}
.container {
  max-width: 900px;
}
