.Weather {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.Weather ul {
  list-style-type: none;
  padding: 0;
}
.Weather h2 {
  font-size: 25px;
  padding-top: 9px;
  /* padding-left: 39px; */
}
.form-control,
.searchButton,
.unitsButton {
  height: 35px;
  margin: 20px 0px;
  transition: all 0.2s;
}
.form-control {
  box-shadow: 2px 4px 10px rgba(48, 48, 48, 0.5);
}
.searchButton {
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-top: 3px;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(48, 48, 48, 0.5);
}

.unitsButton {
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding-top: 4px;
}
